body{
font-size:20px;
font-family:arial-black;
background:url('drm2.jpg')no-repeat;
background:cover;
}
.login{
position:absolute;
top:50%;
left:50%;
right:50%;
width:400px;
height:550px;
box-sizing:border-box;
background:rgba(0,0,0,5);
}
.h1{
font-weight:bold;
font-size:14px;
text-align:center;
margin:0px;
color:#efed40;
}
